
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<h2>Login</h2>
<form method="post">
    <input type="text" class="form-control" name="Username" />
    <input type="password" class="form-control" name="Password" />
    <input type="submit" class="btn btn-success" />
</form>

