
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<h2>SignUp</h2>
<form>
    <input type="text" class="form-control" placeholder="Username" name="Username" />
    <input type="password" class="form-control" placeholder="Password" name="Password" />
    <input type="submit" class="btn btn-success" />
</form>
