
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@ViewBag.Uname
<form method="post">
    <input class="form-control" name="Username" type="text" placeholder="Username" />
    <input class="form-control" name="Password" type="password" placeholder="Password" />
    <input type="submit" class="btn btn-success" />
</form>
