
@{
    ViewBag.Title = "Index";
}

<div>
    <a href="/">Home</a>
    <a href="/portfolio/profile">Profile</a>
    <a href="/portfolio/education">Education</a>
    <a href="/portfolio/projects">Projects</a>
    <a href="/portfolio/references">References</a>
    
</div>

<h1>@ViewBag.Name</h1>
<h2>Email: @ViewBag.Contact</h2>
<h2> Bio: @ViewBag.Bio</h2>