
@{
    ViewBag.Title = "Profile";
}
<div>
    <a href="/">Home</a>
    <a href="/portfolio/profile">Profile</a>
    <a href="/portfolio/education">Education</a>
    <a href="/portfolio/projects">Projects</a>
    <a href="/portfolio/references">References</a>

</div>
<h2>Profile</h2>
<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Hobbies</td>
        <td>
            <ul>
                @foreach (var item in Model.Hobbies) { 
                    <li>@item</li>
                }
            </ul>
        </td>
       
    </tr>
</table>

