
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="/pages/submit" method="post">
    <input type="text" placeholder="Username" class="form-control" />
    <input type="password" placeholder="Password" class="form-control" />
    <input type="submit" class="btn btn-success"/>
</form>
